# Dependency directories
node_modules/

# Logs directory
logs/
*.log

# Uploads directory
uploads/

# Local env files
.env
.env.local
.env.*.local
firebase.json


# IDE configurations
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
